rofi
lazygit
dconf
pulse
user-dirs.dirs
user-dirs.locale
QtProject.conf
VirtualBox
Electron
btop
draw.io
eww
mimeapps.list
spotify
spicetify
obsidian
heroic
godot
go/telemetry/local
git
btop
fastfetch
paru
superfile
tlpui
wireshark
torbrowser
termshark
google-chrome
discord
bluetuith
Pinta
cabal
ghc
kathara.conf
xdg-terminals.list
nvim/lazy-lock.json
