Electron
Pinta
VirtualBox
bluetuith
btop
dconf
discord
draw.io
fish/fish_variables
foot/foot.ini
fuzzel/fuzzel.ini
ghc
git
go/telemetry/local
godot
google-chrome
heroic
lazygit
mako
niri
obsidian
paru
pulse
spicetify
spotify
tlpui
torbrowser
waybar/style.css
wireshark
QtProject.conf
mimeapps.list
user-dirs.dirs
user-dirs.locale
hypr/hyprlock.conf
