* {
  font-family: Hack Nerd Font;
}

window#waybar {
  background: #212118;
  color: #F1EFDA;
}

.modules-left, .modules-center, .modules-right {
  padding: 1px;
}

#clock,#network,#bluetooth,#backlight,#pulseaudio,
#battery,#disk,#temperature,#memory,#cpu {
  padding-left: 3px;
  padding-right: 3px;
  border-color: #64645B;
  border-style: solid;
  border-width: 1px;
}
#network,#bluetooth,#backlight,#pulseaudio {
  border-left-width: 0px;
}
#disk,#temperature,#memory,#cpu {
  border-right-width: 0px;
}

#clock {
  background: #A95758;
}
#network {
  background: #928982;
}
#bluetooth {
  background: #CE5B5D;
}
#backlight {
  background: #8B8A92;
}
#pulseaudio {
  background: #8D7C66;
}
#battery {
  background: #A95758;
}
#disk {
  background: #928982;
}
#temperature {
  background: #CE5B5D;
}
#memory {
  background: #8B8A92;
}
#cpu {
  background: #8D7C66;
}

tooltip {
  background: #45453A;
}
tooltip label {
  color: #F1EFDA;
}

#tray menu {
  background: #45453A;
  color: #F1EFDA;
}

#bluetooth.off, #pulseaudio.muted, #network.disconnected, #battery.warning {
  background: #45453A;
}
#bluetooth.off {
  color: #CE5B5D;
}
#pulseaudio.muted {
  color: #8D7C66;
}
#network.disconnected {
  color: #928982;
}
#battery.warning {
  color: #A95758;
}
