[Unit]
Description=Set random wallpaper
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.config/scripts/set_random %h/Pictures/Backgrounds/
KillMode=process
